@model Inspinia_MVC5.Models.RECIBO

@{
    ViewBag.Title = "Recibos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Recibos de Caja</h2>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-md-offset-2" col-lg-offset-2>
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h2>Agregar Recibo de caja</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "RECIBO", FormMethod.Post, new { id = "formulario" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-5 col-xs-4" id="data_1">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fad fa-calendar"></i></span><input id="FECHA_EMISION" name="FECHA_EMISION" type="text" placeholder="Fecha de Resolución" class="form-control" value="@ViewBag.FECHA_EMISION">
                            </div>
                            <span id="FECHA_EMISION-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-code fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            @Html.DropDownList("SERIE_DOC_ID", null, htmlAttributes: new { @id = "SERIE_DOC_ID", @class = "form-control select2", style = "width: 100%; float:left;" })
                            <span id="SERIE_DOC_ID-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-prescription fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input id="NRO_RECIBO" type="text" class="form-control" name="NRO_RECIBO" placeholder="No. Recibo" value="@ViewBag.NRO_RECIBO">
                            <span id="NRO_RECIBO-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-user fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            @Html.DropDownList("CLIENTE_ID", null, htmlAttributes: new { @id = "CLIENTE_ID", @class = "form-control select2", style = "width: 100%; float:left;" })
                            <span id="CLIENTE_ID-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>

                    //Detalle de los recibos
                    
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Recibo Detalle</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-4 col-xs-4">
                                        @Html.DropDownList("ITEMLIST", null, htmlAttributes: new { @id = "ITEMLIST", @class = "form-control select2", style = "width: 100%; float:left;" })
                                        <span id="ITEMLIST-error" class="labelError" style="display:none; ">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-xs-4" id="div_pago">
                                        @Html.DropDownList("DOC_ID", null, htmlAttributes: new { @id = "DOC_ID", @class = "form-control select2", style = "width: 100%; float:left;" })
                                        <span id="DOC_ID-error" class="labelError" style="display:none; ">&nbsp;</span>
                                    </div>
                                    <div class="col-md-4 col-xs-4" id="div_descripcion">
                                        <input id="OTRO_DESC" type="text" class="form-control" name="OTRO_DESC" placeholder="Descripción">
                                        <span id="OTRO_DESC-error" class="labelError" style="display:none; ">&nbsp;</span>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <input id="MONTO" type="number" class="form-control" name="MONTO" placeholder="Monto" value="@ViewBag.MONTO">
                                        <span id="MONTO-error" class="labelError" style="display:none; ">&nbsp;</span>
                                    </div>
                                    <div class="col-md-4">
                                        @*<button class="btn btn-success" id="btnagregar" name="btnagregar"><i class="fad fa-plus-hexagon"></i>&nbsp;Agregar</button>*@
                                        <input type="button" class="btn btn-success" id="btnagregar" value="Agregar">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div id="reciboItems" class="table table-light">

                                </div>
                                <table id="detailsTable" class="table">
                                    <thead>
                                        <tr>
                                            <th hidden="">Id</th>
                                            <th style="width: 20%">Doc. No.</th>
                                            <th style="width: 30%">Descripción</th>
                                            <th style="width: 20%">Valor</th>
                                            <th style="width: 10%" hidden="">Tipo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    
                    //Termina detalle de recibos
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-alt fa-2x"></i>
                        </div>
                        <div class="col-md-1 col-xs-1 well m-t">
                            <strong>TOTAL </strong>
                        </div>
                        <div class="col-md-4 col-xs-10">
                            <input id="TOTAL" type="number" class="form-control" name="TOTAL" placeholder="Total" value="0">
                            <span id="TOTAL-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-money-bill fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            @Html.DropDownList("FORMA_PAGO_ID", null, htmlAttributes: new { @id = "FORMA_PAGO_ID", @class = "form-control select2", style = "width: 100%; float:left;" })
                            <span id="FORMA_PAGO_ID-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row" id="div_nro_doc">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-money-check-edit-alt fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input id="NRO_DOC_PAGO" type="text" class="form-control" name="NRO_DOC_PAGO" placeholder="No. Documento" value="@ViewBag.NRO_DOC_PAGO">
                            <span id="NRO_DOC_PAGO-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                }
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-success" id="guardarRecibo" name="guardarRecibo"><i class="fad fa-save"></i>&nbsp;Guardar</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index")' "><i class="fad fa-step-backward"></i>&nbsp;Regresar</button>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/clockpickerStyles")
    <style type="text/css">
        .labelError {
            color: red;
        }

        .label-fsteps {
            color: #999;
        }

        .row-steps {
            border-bottom-color: #999;
            border-bottom-style: solid;
        }

        .onoffswitch-switch {
            border: 2px solid #1c84c6 !important;
        }

        .onoffswitch-label {
            border: 2px solid #1c84c6 !important;
        }

        .onoffswitch-inner:before {
            content: "SI" !important;
            background-color: #1c84c6 !important;
        }

        .onoffswitch-inner:after {
            content: "NO" !important;
        }
    </style>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")
<script type="text/javascript">
    $(document).ready(function () {
        var reciboItems = [];

            // autocomplete
            $(".select2").select2();
            // calendario
            $.fn.datepicker.dates['en'] = {
                days: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                daysShort: ["Dom", "Lun", "Mar", "Mie", "Juv", "Vie", "Sáb"],
                daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                today: "Hoy",
                clear: "Clear",
                format: "dd/mm/yyyy",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            });

            //Tipo de pago
            $("#FORMA_PAGO_ID").change(function () {
                var idSelected = parseInt($(this).val());
                switch (idSelected) {
                    case 0:
                        $("#div_nro_doc").hide();
                        break;
                    case 1:
                        $("#div_nro_doc").hide();
                        break;
                    case 2:
                        $("#div_nro_doc").show();
                        break;
                    case 3:
                        $("#div_nro_doc").show();
                        break;
                }
            }).change();

            //Tipo de documento a pagar
            $("#ITEMLIST").change(function () {
                var idSelected = parseInt($(this).val());
                var codigocte = $('#CLIENTE_ID').val();
                switch (idSelected) {
                    case 0:
                        $("#div_descripcion").hide();
                        break;
                    case 1:
                        $("#div_pago").show();
                        $("#div_descripcion").hide();
                        break;
                    case 3:
                        $("#div_pago").show();
                        $("#div_descripcion").hide();
                        break;
                    case 4:
                        $("#div_pago").hide();
                        $("#div_descripcion").show();
                        break;
                }
                if (idSelected > 0) {
                    $.ajax({
                        url: '@Url.Action("GetListaDocumentos", "RECIBOS")',
                        type: "POST",
                        data: {
                            id: idSelected,
                            cliente: codigocte
                        },
                        success: function (response) {
                            $.each(response, function (i, option) {
                                $('#DOC_ID').append($('<option/>').attr("value", option.Value).text(option.Text));
                            });
                        },
                        error: function () {

                        }
                    });
                }
            }).change();

            //GetNumeroFactura
            $("#SERIE_DOC_ID").change(function () {
                var idSelected = $(this).val();

                if (idSelected > 0) {
                    $.ajax({
                        url: '@Url.Action("GetNumeroRecibo", "RECIBOS")',
                        type: "POST",
                        data: {
                            id: idSelected
                        },
                        success: function (response) {
                            $("#NRO_RECIBO").val(response);
                            $("#NRO_RECIBO").change();
                        },
                        error: function () {

                        }
                    });
                }
            });

            //GetMontoDocumento
            $("#DOC_ID").change(function () {
                var idSelected = $(this).val();
                if (idSelected > 0) {
                    $.ajax({
                        url: '@Url.Action("GetMontoDocumento", "RECIBOS")',
                        type: "POST",
                        data: {
                            id: idSelected
                        },
                        success: function (response) {
                            $("#MONTO").val(response);
                            $("#MONTO").change();
                        },
                        error: function () {

                        }
                    });
                }
            });
    });

    //Boton agregar item recibo detalle
    $("#btnagregar").click(function (e) {
        
        var total = $('#TOTAL').val();
        var monto = $('#MONTO').val();
        var totalr = "";
        
        e.preventDefault();
        if ($("#DOC_ID").val() == "" || $("#DOC_ID option:selected").text() == "" || $("#monto").val() == "") return;

        var FACTURA_ID = parseInt($('#DOC_ID').val()),
            DOC_NRO = parseInt($("#DOC_ID option:selected").text()),
            DESCRIPCION = $('#OTRO_DESC').val();
            monto = parseFloat($('#MONTO').val()).toFixed(2) ,
            TIPO_DOC_ID = parseInt($('#ITEMLIST').val()),
            detailsTableBody = $("#detailsTable tbody");

        if (TIPO_DOC_ID == 1) {
            DESCRIPCION = "Pago de factura No. " + DOC_NRO;
        } else if (TIPO_DOC_ID == 3) {
            DESCRIPCION = "Pago de nota de cargo No. " + DOC_NRO;
        } else if (TIPO_DOC_ID == 4) {
            FACTURA_ID = "";
            DOC_NRO = "";
        }

        var reciboItem = '<tr><td hidden>' + FACTURA_ID + '</td><td>' + DOC_NRO + '</td><td>' + DESCRIPCION + '</td><td>' + parseFloat(monto).toFixed(2) +
            '</td><td hidden>' + TIPO_DOC_ID + '</td><td><a data-itemId="0" href="#" class="deleteItem">Quitar</a></td></tr>';
        detailsTableBody.append(reciboItem);
        if (isNaN(total)) {
            total = 0;
        }
        totalr = parseFloat(total) + parseFloat(monto);
        $("#TOTAL").val('');
        $("#TOTAL").val(parseFloat(totalr).toFixed(2));
        clearItem();

    });

    //Para limpiar despues de agregar item
    function clearItem() {
        //$("#DOC_ID").val('');
        //$("#ITEMLIST").val('');
        $("#MONTO").val('');
    }

    // Para quitar algún item 
    $(document).on('click', 'a.deleteItem', function (e) {
        var TOTAL = $('#TOTAL').val();
        e.preventDefault();
        var $self = $(this);
        if ($(this).attr('data-itemId') == "0") {
        		
            $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                var monto = $(this).find('td').eq(2).text();
                TOTAL = parseFloat(TOTAL) - parseFloat(monto);
                $("#TOTAL").val(TOTAL);
                $(this).remove();
            });
        }
    });

    //After Click Save Button Pass All Data View To Controller For Save Database
    function guardarRecibo(data) {
        return $.ajax({
            contentType: 'application/json',
            dataType: 'JSON',
            type: 'POST',
            url: "/Recibos/GuardarRecibo",
            data: JSON.stringify(data),
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function () {
                alert("Error!");
            }
        });
    }

    //Collect Multiple Order List For Pass To Controller
    $("#guardarRecibo").click(function (e) {
        e.preventDefault();

        var reciboDetArr = [];
        reciboDetArr.length = 0;

        $.each($("#detailsTable tbody tr"), function () {
            reciboDetArr.push({
                FACTURA_ID: $(this).find('td:eq(0)').html(),
                DOC_NRO: $(this).find('td:eq(1)').html(),
                DESCRIPCION: $(this).find('td:eq(2)').html(),
                MONTO: parseFloat($(this).find('td:eq(3)').html()),
                TIPO_DOC_ID: $(this).find('td:eq(4)').html()
            });
        });


        var data = {
            FECHA_EMISION: $('#FECHA_EMISION').val(),
            SERIE_DOC_ID: $('#SERIE_DOC_ID').val(),
            NRO_RECIBO: $('#NRO_RECIBO').val(),
            CLIENTE_ID: $('#CLIENTE_ID').val(),
            TOTAL: $('#TOTAL').val(),
            FORMA_PAGO_ID: $('#FORMA_PAGO_ID').val(),
            NRO_DOC_PAGO: $('#NRO_DOC_PAGO').val(),
            reciboDet: reciboDetArr
        }
        console.log(data);

        $.when(guardarRecibo(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });
</script>
}