@model Inspinia_MVC5.Models.FACTURA
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IntersystemERP | Imprimir Factura</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="white-bg">
    <div class="wrapper wrapper-content p-xl">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm-6">
                    <h5>De:</h5>
                    <address>
                        <strong>D.H. & Asociados, S.A.</strong><br>
                        7a. Av. 1-20, Zona 4, Torre Café,<br>
                        Oficina 640, Nivel 6<br>
                        <abbr title="Phone">Tel:</abbr> 2331-9821 <br/>
                        <abbr title="Email">Correo:</abbr> gerencia@dhyasociados.com
                    </address>
                </div>

                <div class="col-sm-6 text-right">
                    <h4>Factura No.</h4>
                    <h4 class="text-navy">@Model.SERIE_DOCUMENTO.SERIE - @Model.NRO_FACTURA</h4>
                    <span>Para:</span>
                    <address>
                        <strong>@Model.CLIENTE.NOMBRE_CLTE</strong><br>
                        @Model.CLIENTE.DIRECCION<br>
                        <abbr title="Nit">NIT:</abbr> @Model.CLIENTE.NIT
                    </address>
                    <p>
                        <span><strong>Fecha:</strong> @Model.FECHA_EMISION.Value.ToShortDateString()</span><br />
                    </p>
                </div>
            </div>

            <div class="table-responsive m-t">
                <table class="table invoice-table">
                    <thead>
                        <tr>
                            <th>Item List</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div><strong>Admin Theme with psd project layouts</strong></div>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                            </td>
                            <td>1</td>
                            <td>$26.00</td>
                            <td>$5.98</td>
                            <td>$31,98</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>Wodpress Them customization</strong></div>
                                <small>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </small>
                            </td>
                            <td>2</td>
                            <td>$80.00</td>
                            <td>$36.80</td>
                            <td>$196.80</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>Angular JS & Node JS Application</strong></div>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                            </td>
                            <td>3</td>
                            <td>$420.00</td>
                            <td>$193.20</td>
                            <td>$1033.20</td>
                        </tr>

                    </tbody>
                </table>
            </div><!-- /table-responsive -->

            <table class="table invoice-total">
                <tbody>
                    <tr>
                        <td><strong>Sub Total :</strong></td>
                        <td>$1026.00</td>
                    </tr>
                    <tr>
                        <td><strong>TAX :</strong></td>
                        <td>$235.98</td>
                    </tr>
                    <tr>
                        <td><strong>TOTAL :</strong></td>
                        <td>$1261.98</td>
                    </tr>
                </tbody>
            </table>
            <div class="well m-t">
                <strong>Comments</strong>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
            </div>
        </div>

    </div>

</body>

</html>

<script type="text/javascript">
    window.print();
</script>
