@model Inspinia_MVC5.Models.CLIENTE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create CLIENTE</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.USUARIO_ID, "USUARIO_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("USUARIO_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.USUARIO_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CODIGO_CLTE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CODIGO_CLTE)
                @Html.ValidationMessageFor(model => model.CODIGO_CLTE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE_CLTE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE_CLTE)
                @Html.ValidationMessageFor(model => model.NOMBRE_CLTE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIRECCION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIRECCION)
                @Html.ValidationMessageFor(model => model.DIRECCION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TELEFONO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TELEFONO)
                @Html.ValidationMessageFor(model => model.TELEFONO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CONTACTO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CONTACTO)
                @Html.ValidationMessageFor(model => model.CONTACTO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E_MAIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E_MAIL)
                @Html.ValidationMessageFor(model => model.E_MAIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BALANCE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BALANCE)
                @Html.ValidationMessageFor(model => model.BALANCE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CLTE_ACTIVO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CLTE_ACTIVO)
                @Html.ValidationMessageFor(model => model.CLTE_ACTIVO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_CREACION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_CREACION)
                @Html.ValidationMessageFor(model => model.FECHA_CREACION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTO_ULT_TRAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MONTO_ULT_TRAN)
                @Html.ValidationMessageFor(model => model.MONTO_ULT_TRAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_ULT_TRAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_ULT_TRAN)
                @Html.ValidationMessageFor(model => model.FECHA_ULT_TRAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESC_ULT_TRAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESC_ULT_TRAN)
                @Html.ValidationMessageFor(model => model.DESC_ULT_TRAN)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
