@model Inspinia_MVC5.Models.CLIENTE

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Clientes</h2>
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-md-offset-2" col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h2>Detalle de Cliente</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> Código:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.CODIGO_CLTE</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> Empresa:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.NOMBRE_CLTE</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> Dirección:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.DIRECCION</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> Teléfono:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.TELEFONO</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> Contacto:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.CONTACTO</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <h4><strong> E-mail:&nbsp;&nbsp; </strong></h4>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <h4>@Model.E_MAIL</h4>
                    </div>
                </div>
                @if (Model.CLTE_ACTIVO == true)
                {
                    <div class="row">
                        <div class="col-md-2 col-xs-2">
                            <h4><strong> Estado:&nbsp;&nbsp; </strong></h4>
                        </div>
                        <div class="col-md-10 col-xs-10">
                            <td class="client-status"><span class="label label-primary">Activo</span></td>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-2 col-xs-2">
                            <h4><strong> Estado:&nbsp;&nbsp; </strong></h4>
                        </div>
                        <div class="col-md-10 col-xs-10">
                            <td class="client-status"><span class="label label-danger">Inactivo</span></td>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success" onclick="location.href = '@Url.Action("Edit", new { id = Model.CLIENTE_ID })' "><i class="fad fa-edit"></i>&nbsp;Editar</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger" onclick="location.href = '@Url.Action("Delete", new { id = Model.CLIENTE_ID })' "><i class="fad fa-eraser"></i>&nbsp;Eliminar</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index")' "><i class="fad fa-step-backward"></i>&nbsp;Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>