@model Inspinia_MVC5.Models.PRODUCTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create PRODUCTO</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO_PRODUCTO_ID, "TIPO_PRODUCTO_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TIPO_PRODUCTO_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.TIPO_PRODUCTO_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.USUARIO_ID, "USUARIO_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("USUARIO_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.USUARIO_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CODIGO_PRODUCTO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CODIGO_PRODUCTO)
                @Html.ValidationMessageFor(model => model.CODIGO_PRODUCTO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPCION)
                @Html.ValidationMessageFor(model => model.DESCRIPCION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRECIO1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRECIO1)
                @Html.ValidationMessageFor(model => model.PRECIO1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRECIO2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRECIO2)
                @Html.ValidationMessageFor(model => model.PRECIO2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRECIO3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRECIO3)
                @Html.ValidationMessageFor(model => model.PRECIO3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_CREACION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_CREACION)
                @Html.ValidationMessageFor(model => model.FECHA_CREACION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_ULTIMA_VENTA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_ULTIMA_VENTA)
                @Html.ValidationMessageFor(model => model.FECHA_ULTIMA_VENTA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ACTIVO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACTIVO)
                @Html.ValidationMessageFor(model => model.ACTIVO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE)
                @Html.ValidationMessageFor(model => model.NOMBRE)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
