@model Inspinia_MVC5.Models.PRODUCTO

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Productos</h2>
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-md-offset-2" col-lg-offset-2>
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h2>Agregar Producto</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "PRODUCTOS", FormMethod.Post, new { id = "formulario" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-code fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input type="hidden" name="CODIGO_PRODUCTO" value="@ViewBag.CODIGO_PRODUCTO" />
                            @Html.DropDownList("TIPO_PRODUCTO_ID", null, htmlAttributes: new { @class = "form-control select2", style = "width: 100%; float:left;" })
                            <span id="TIPO_PRODUCTO_ID-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-prescription fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input id="NOMBRE" type="text" class="form-control" name="NOMBRE" placeholder="Nombre" value="@ViewBag.NOMBRE">
                            <span id="NOMBRE-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-alt fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input id="DESCRIPCION" type="text" class="form-control" name="DESCRIPCION" placeholder="Descripción" value="@ViewBag.DESCRIPCION">
                            <span id="DESCRIPCION-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-plus fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input id="PRECIO1" type="text" class="form-control" name="PRECIO1" placeholder="Precio 1" value="@ViewBag.PRECIO1">
                            <span id="PRECIO1-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-plus fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input id="PRECIO2" type="text" class="form-control" name="PRECIO2" placeholder="Precio 2" value="@ViewBag.PRECIO1">
                            <span id="PRECIO2-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <i class="fad fa-file-plus fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <input id="PRECIO3" type="text" class="form-control" name="PRECIO3" placeholder="Precio 3" value="@ViewBag.PRECIO3">
                            <span id="PRECIO3-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>

                }
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success" id="guardar" name="guardar"><i class="fad fa-save"></i>&nbsp;Guardar</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index")' "><i class="fad fa-step-backward"></i>&nbsp;Regresar</button>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    <style type="text/css">
        .labelError {
            color: red;
        }

        .label-fsteps {
            color: #999;
        }

        .row-steps {
            border-bottom-color: #999;
            border-bottom-style: solid;
        }

        .onoffswitch-switch {
            border: 2px solid #1c84c6 !important;
        }

        .onoffswitch-label {
            border: 2px solid #1c84c6 !important;
        }

        .onoffswitch-inner:before {
            content: "SI" !important;
            background-color: #1c84c6 !important;
        }

        .onoffswitch-inner:after {
            content: "NO" !important;
        }
    </style>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/dataPicker")
    <script type="text/javascript">
        $(document).ready(function () {
            // autocomplete
            $(".select2").select2();
            
            //guardar
            $("#guardar").click(function () {
                var formValid = true;
                var codigocte = $('#CODIGO_CLTE').val();
                var empresa = $('#NOMBRE_CLTE').val();
                var direccion = $('#DIRECCION').val();
                var nit = $('#NIT').val();
                var contacto = $('#CONTACTO').val();
                var telefono = $('#TELEFONO').val();
                var email = $('#E_MAIL').val();

                //clean all error labels
                $(".labelError").hide();

                //if (!codigocte) {
                //    formValid = false;
                //    $("#CODIGO_CLTE-error").text('Requerido.');
                //    $("#CODIGO_CLTE-error").show();
                //}

                //if (!empresa) {
                //    formValid = false;
                //    $("#NOMBRE_CLTE-error").text('Requerido.');
                //    $("#NOMBRE_CLTE-error").show();
                //}
                //if (!direccion) {
                //    formValid = false;
                //    $("#DIRECCION-error").text('Requerido.');
                //    $("#DIRECCION-error").show();
                //}
                //if (!nit) {
                //    formValid = false;
                //    $("#NIT-error").text('Requerido.');
                //    $("#NIT-error").show();
                //}
                //if (!contacto) {
                //    formValid = false;
                //    $("#CONTACTO-error").text('Requerido.');
                //    $("#CONTACTO-error").show();
                //}
                //if (!telefono) {
                //    formValid = false;
                //    $("#TELEFONO-error").text('Requerido.');
                //    $("#TELEFONO-error").show();
                //}
                //if (!email) {
                //    formValid = false;
                //    $("#E_MAIL-error").text('Requerido.');
                //    $("#E_MAIL-error").show();
                //}
                if (formValid) {
                    $('#formulario').submit();
                }
            });
        });
    </script>
}

