@model IEnumerable<Inspinia_MVC5.Models.PRODUCTO>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Productos</h2>
    </div>
</div>
<p>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary btn-rounded btn-block" onclick="location.href = '@Url.Action("Create")' "><i class="fad fa-plus-circle"></i> Agregar producto</button>
        </div>
    </div>
</p>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                            [ INFO ]
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                @Html.DisplayFor(modelItem => item.PRECIO1)
                            </span>
                            <small class="text-muted">@Html.DisplayFor(modelItem => item.TIPO_PRODUCTO.DESCRIPCION)</small>
                            <a href="#" class="product-name"> @Html.DisplayFor(modelItem => item.NOMBRE)</a>
                            <div class="small m-t-xs">
                                @Html.DisplayFor(modelItem => item.DESCRIPCION)
                            </div>
                            <div class="m-t text-righ">

                                <a href='@Url.Action("Details", new { id = item.PRODUCTO_ID })' class="btn btn-xs btn-outline btn-primary">Info <i class="fad fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>