<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Images/gallery/1s.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Sonia de Hidalgo</span>
                        <span class="text-muted text-xs block">Directora <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fad fa-home"></i> <span class="nav-label">Inicio</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "FACTURAS")">
                <a href=""><i class="fad fa-file-invoice"></i> <span class="nav-label" data-i18n="nav.dashboard">Facturación</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "FACTURAS")">Facturación</a></li>
                    <li class="@Html.IsSelected(action: "ReportesFacturas")"><a href="@Url.Action("ReportesFacturas", "FACTURAS")">Reportes</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "RECIBOS")">
                <a href=""><i class="fad fa-treasure-chest"></i> <span class="nav-label" data-i18n="nav.dashboard">Cuentas por cobrar</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "RECIBOS")">Recibos de caja</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "NOTA_ABONO")">Notas de abono</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "NOTA_CARGO")">Notas de cargo</a></li>
                    <li class="@Html.IsSelected(action: "ReportesRecibos")"><a href="@Url.Action("ReportesRecibos", "RECIBOS")">Reportes</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "CLIENTES")">
                <a href="@Url.Action("Index", "CLIENTES")"><i class="fad fa-user-friends"></i> <span class="nav-label" data-i18n="nav.dashboard">Clientes</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "CLIENTES", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "CLIENTES")">Clientes</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Dashboard_2", "Dashboards")">Reportes</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Productos")">
                <a href="@Url.Action("", "")"><i class="fad fa-inventory"></i> <span class="nav-label" data-i18n="nav.dashboard">Inventario</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Facturación", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "PRODUCTOS")">Productos</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Dashboard_2", "Dashboards")">Reportes</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Configuracion")">
                <a href=""><i class="fad fa-cog"></i> <span class="nav-label" data-i18n="nav.dashboard">Configuración</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Configuracion", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "TIPO_DOCUMENTO")"><i class="fad fa-file-code"></i> Tipos de documento </a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "TIPO_PRODUCTO")"><i class="fad fa-box"></i> Tipo de productos </a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "FORMA_PAGO")"><i class="fad fa-money-check"></i> Formas de pago </a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "SERIE_DOCUMENTO")"><i class="fad fa-file-certificate"></i> Documentos Series </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>