@model IEnumerable<Inspinia_MVC5.Models.SERIE_DOCUMENTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>SERIE_DOCUMENTO</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of SERIE_DOCUMENTO</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SERIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESOLUCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HASTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_VIGENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_RESOLUCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_DOCUMENTO.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE_COMPLETO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SERIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESOLUCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HASTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_VIGENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_RESOLUCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_DOCUMENTO.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.NOMBRE_COMPLETO)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.SERIE_DOC_ID }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.SERIE_DOC_ID }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.SERIE_DOC_ID }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



