@model Inspinia_MVC5.Models.TIPO_PRODUCTO

@{
    ViewBag.Title = "Tipos de producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipos de producto</h2>
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-md-offset-2" col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h2>Agregar Tipo de Producto</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "TIPO_PRODUCTO", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-2 col-xs-2">
                            <h4><strong> Código:&nbsp;&nbsp; </strong></h4>
                        </div>
                        <div class="col-md-10 col-xs-10">
                            @Html.EditorFor(model => model.CODIGO_TIPO_PRODUCTO, new { htmlAttributes = new { @id = "codigo", @class = "form-control", @Value = ViewBag.Codigo} })
                            <span id="codigo-error" class="labelError" style="display:none; ">&nbsp;</span>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <h4><strong> Descripción:&nbsp;&nbsp; </strong></h4>
                            </div>
                            <div class="col-md-10 col-xs-10">
                                @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @id = "descripcion", @class = "form-control" } })
                                <span id="descripcion-error" class="labelError" style="display:none; ">&nbsp;</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                }
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success" id="guardar" name="guardar"><i class="fad fa-save"></i>&nbsp;Guardar</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index")' "><i class="fad fa-step-backward"></i>&nbsp;Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    <style type="text/css">
        .labelError {
            color: red;
        }

        .label-fsteps {
            color: #999;
        }

        .row-steps {
            border-bottom-color: #999;
            border-bottom-style: solid;
        }

        .onoffswitch-switch {
            border: 2px solid #1c84c6 !important;
        }

        .onoffswitch-label {
            border: 2px solid #1c84c6 !important;
        }

        .onoffswitch-inner:before {
            content: "SI" !important;
            background-color: #1c84c6 !important;
        }

        .onoffswitch-inner:after {
            content: "NO" !important;
        }
    </style>
}

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        // button next action
        $("#guardar").click(function () {
            var formValid = true;
            var codigo = $('#codigo').val();
            var descripcion = $('#descripcion').val();

            //clean all error labels
            $(".labelError").hide();

            if (!codigo) {
                formValid = false;
                $("#codigo-error").text('Requerido.');
                $("#codigo-error").show();
            }

            if (!descripcion) {
                formValid = false;
                $("#descripcion-error").text('Requerido.');
                $("#descripcion-error").show();
            }
            if (formValid) {
                $('#formulario').submit();
            }
        });
    });
    </script>
}